.table {
    overflow-x: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
}

td {
    text-align: center;
}

thead {
    color: #E90848;
}

.link {
    text-decoration: none;
    color: #00F0FF;
}

.build-body {
    text-align: center;
    font-size: 1rem;
}