.table {
  overflow-x: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
}

td {
  text-align: center;
}

thead {
  color: #e90848;
}

.link {
  text-decoration: none;
  color: #00f0ff;
}

.build-body {
  text-align: center;
  font-size: 1rem;
}

/*for dropdown menu*/

.dropbtn {
  background-color: #1A4040;
  color: #00F0FF;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  margin-left: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1A4040;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-link {
  color: #00F0FF;
  padding: 12px 16px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: #3a4e93;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #e90848;
}

/* for the search bar */
.search {
  background-color: transparent;
  color: #00F0FF;
  border-color: #00F0FF;
  border-width: 0.1rem;
  padding: 10px 0.5rem 10px 1rem;
  width: 20rem;
  outline: none;
  transition: all 200ms ease-in-out;
}

.search:hover {
  box-shadow: 0px 0px 5px 2px rgba(0,240,255,1);
}

.search:focus {
  box-shadow: 0px 0px 5px 2px rgba(0,240,255,1);
}

.search-form {
  display: flex;
}

.search-icon {
  padding: 10px 15px 10px 15px;
  border: none;
  background-color: #00f0ff;
  cursor: pointer;
  color: black;
}

/* adjust dropdown and search bar */
.adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

@media screen and (max-width:768px) {
  .search {
    width: 10rem;
  }
}