.container {
    margin-right: 1rem;
    margin-left: 1rem;
}

.heading {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    color: #ECE302;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.1rem;
}
